:root {
	--background: #0c0008;
	--foreground: #ffaaf4;
}

@font-face {
	font-family: "Fira Code";
	src: url(/ttf/FiraCode-Regular.ttf);
}

@font-face {
	font-family: "Kosugi Maru";
	src: url(/ttf/KosugiMaru-Regular.ttf);
}

html {
	padding: 0 1ch;
}

body {
	margin: auto;
	max-width: 80ch;
	background-color: var(--background);
	font-family: 'Fira Code', 'Kosugi Maru', monospace;
}

* {
	color: var(--foreground);
	text-shadow: 0px 0px 5px var(--foreground) !important;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--background);
	background-color: var(--foreground);
}

#navigation {
	display: flex;
	margin: 1ch 0ch;
}

#navigation .align-left {
	text-align: left;
}

#navigation .align-right {
	text-align: right;
}