<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='/css/base.css'>
	</head>
	<body>
		{% include 'navigation.jinja' %}
		{% block body %}
		{{ body }}
		{% endblock %}
	</body>
</html>
