<div id='navigation'>
    <div class='align-left'>
        .:
        <a href='/'>[Top]</a> 
        <a href='{{url_up}}'>[..]</a>
    </div>
    <div class='spacer' style='flex-grow: 1'></div>
    <div class='align-right'>
        {{ client_ip }} 
        :.
    </div>
</div>
